body {
    background-color: #1E3A8A;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 48px;
    margin-top: 0;
}
p {
    font-size: 24px;
}
a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}
.floating-menu {
    background-color: #FFD700;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.golden-btn {
    background-color: #FFD700;
    color: black;;
    font-weight: bold;
    border: none;
}

.golden-btn:hover {
    background-color: #E6C200;
}