@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0212ed;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #f2cb07;
    top: 51%;
    left: 19%;
    animation-duration: 54s;
    animation-delay: -44s;
    transform-origin: -22vw 15vh;
    box-shadow: -40vmin 0 5.234901426608104vmin currentColor;
}
.background span:nth-child(1) {
    color: #c9b426;
    top: 84%;
    left: 77%;
    animation-duration: 17s;
    animation-delay: -33s;
    transform-origin: 20vw -2vh;
    box-shadow: 40vmin 0 5.912499247977182vmin currentColor;
}
.background span:nth-child(2) {
    color: #c9b426;
    top: 72%;
    left: 80%;
    animation-duration: 45s;
    animation-delay: -14s;
    transform-origin: -6vw 7vh;
    box-shadow: 40vmin 0 5.499237598619898vmin currentColor;
}
.background span:nth-child(3) {
    color: #f09a05;
    top: 63%;
    left: 24%;
    animation-duration: 50s;
    animation-delay: -36s;
    transform-origin: -19vw -20vh;
    box-shadow: 40vmin 0 5.744424072113793vmin currentColor;
}
.background span:nth-child(4) {
    color: #f09a05;
    top: 55%;
    left: 19%;
    animation-duration: 35s;
    animation-delay: -18s;
    transform-origin: 3vw 17vh;
    box-shadow: 40vmin 0 5.247466849060261vmin currentColor;
}
.background span:nth-child(5) {
    color: #f2cb07;
    top: 95%;
    left: 36%;
    animation-duration: 22s;
    animation-delay: -2s;
    transform-origin: -19vw -8vh;
    box-shadow: 40vmin 0 5.0173561928887445vmin currentColor;
}
.background span:nth-child(6) {
    color: #f2cb07;
    top: 21%;
    left: 85%;
    animation-duration: 24s;
    animation-delay: -8s;
    transform-origin: 17vw 24vh;
    box-shadow: -40vmin 0 5.2874632338225105vmin currentColor;
}
.background span:nth-child(7) {
    color: #f2cb07;
    top: 90%;
    left: 17%;
    animation-duration: 37s;
    animation-delay: -39s;
    transform-origin: 9vw 6vh;
    box-shadow: 40vmin 0 5.605272491884058vmin currentColor;
}
.background span:nth-child(8) {
    color: #f09a05;
    top: 56%;
    left: 36%;
    animation-duration: 20s;
    animation-delay: -41s;
    transform-origin: 24vw 18vh;
    box-shadow: 40vmin 0 5.504536829368986vmin currentColor;
}
.background span:nth-child(9) {
    color: #f09a05;
    top: 38%;
    left: 4%;
    animation-duration: 11s;
    animation-delay: -12s;
    transform-origin: -20vw 15vh;
    box-shadow: 40vmin 0 5.505805535740685vmin currentColor;
}
.background span:nth-child(10) {
    color: #c9b426;
    top: 56%;
    left: 87%;
    animation-duration: 21s;
    animation-delay: -50s;
    transform-origin: -11vw 10vh;
    box-shadow: 40vmin 0 5.025192850902603vmin currentColor;
}
.background span:nth-child(11) {
    color: #c9b426;
    top: 65%;
    left: 38%;
    animation-duration: 25s;
    animation-delay: -24s;
    transform-origin: -21vw -24vh;
    box-shadow: -40vmin 0 5.500474759579026vmin currentColor;
}
.background span:nth-child(12) {
    color: #f09a05;
    top: 69%;
    left: 33%;
    animation-duration: 41s;
    animation-delay: -3s;
    transform-origin: 6vw -8vh;
    box-shadow: -40vmin 0 5.663754748078702vmin currentColor;
}
.background span:nth-child(13) {
    color: #c9b426;
    top: 42%;
    left: 61%;
    animation-duration: 12s;
    animation-delay: -42s;
    transform-origin: 3vw -17vh;
    box-shadow: 40vmin 0 5.136384550531957vmin currentColor;
}
.background span:nth-child(14) {
    color: #f2cb07;
    top: 17%;
    left: 8%;
    animation-duration: 14s;
    animation-delay: -30s;
    transform-origin: 20vw 25vh;
    box-shadow: 40vmin 0 5.424500757093697vmin currentColor;
}
.background span:nth-child(15) {
    color: #f2cb07;
    top: 17%;
    left: 3%;
    animation-duration: 12s;
    animation-delay: -9s;
    transform-origin: 13vw -23vh;
    box-shadow: 40vmin 0 5.617549678218925vmin currentColor;
}
.background span:nth-child(16) {
    color: #c9b426;
    top: 47%;
    left: 60%;
    animation-duration: 43s;
    animation-delay: -8s;
    transform-origin: -3vw 0vh;
    box-shadow: 40vmin 0 5.476626804975302vmin currentColor;
}
.background span:nth-child(17) {
    color: #f09a05;
    top: 39%;
    left: 85%;
    animation-duration: 46s;
    animation-delay: -10s;
    transform-origin: -12vw -12vh;
    box-shadow: -40vmin 0 5.634511931237505vmin currentColor;
}
.background span:nth-child(18) {
    color: #f09a05;
    top: 78%;
    left: 62%;
    animation-duration: 19s;
    animation-delay: -11s;
    transform-origin: 2vw -4vh;
    box-shadow: -40vmin 0 5.417363349343542vmin currentColor;
}
.background span:nth-child(19) {
    color: #f09a05;
    top: 58%;
    left: 69%;
    animation-duration: 19s;
    animation-delay: -5s;
    transform-origin: -11vw 18vh;
    box-shadow: -40vmin 0 5.269488317061414vmin currentColor;
}


.signup-container {
    background: linear-gradient(135deg, #f5f5f5 25%, transparent 25%),
                linear-gradient(225deg, #f5f5f5 25%, transparent 25%),
                linear-gradient(45deg, #f5f5f5 25%, transparent 25%),
                linear-gradient(315deg, #f5f5f5 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-color: #fff;
}